---
---
$container-max-widths: (
        sm: 540px,
        md: 610px,
        lg: 880px,
        xl: 990px,
        xxl: 1100px
);
$font-family-sans-serif: "Gill Sans", Tahoma, Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Times, serif;
$font-family-monospace: "ui-monospace", "SFMono-Regular", "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

$font-size-base: 1.2rem;

@import "bootstrap/bootstrap";
@import "syntax-light";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  margin: .5rem 0 1.5rem;
}

.navbar-custom {
  height: 7rem;
  background-color: #C8E6C9;
  border-top: 10px solid #E8F5E9;

  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 6px #fff;
  }

  .navbar-brand::after {
    content: " 🧑🏻‍💻";
  }
}

article {
  font-family: $font-family-serif;

  @include media-breakpoint-up(md) {
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
      width: 75%;
      margin: 0 auto 2rem;
    }
  }
}

.about {
  p {
    font-size: 1.5rem;
  }
}
